/* Ключевые слова */
.k {
    font-weight: bold;
}

/* Типы */
.kt {
    font-weight: bold;
    color: #C05800;
}

/* Строки и числа */
.s, .m {
    font-weight: bold;
    color: #0095FF;
}

.nf {
    font-weight: bold;
    color: #0000C8;
}

/* Комментарии */
.c {
    font-weight: bold;
    font-style: italic;
    color: #888888;
}
