/* Ключевые слова */
.k {
    font-weight: bold;
}

/* Типы */
.kt {
    font-weight: bold;
    color: #C05800;
}

/* Строки, числа и константы (да, нет) */
.s, .m, .kc {
    font-weight: bold;
    color: #0095FF;
}

/* Вызовы функций */
.nf {
    font-weight: bold;
    color: #0000C8;
}

/* Комментарии */
.c {
    font-weight: bold;
    font-style: italic;
    color: #888888;
}
