#!/usr/bin/env xdg-open
[Desktop Entry]
Name=pyKuMir
Type=Application
Exec=/usr/bin/pykumir %u
Terminal=false
Categories=Education;
Keywords=кумир;pykumir;
MimeType=application/pykumir.program
